{% extends 'base.html' %}
 {% load static %}
 
 {% block content %}
 
 
<div class="row" id="medicine">
<div class="col-md-12" >
<img src="{% static '1503567.jpg' %}"height="350px" width="1350px" />
</div>
</div>

<div class="row" id="medicine1">
<div class="col-md-10">
<nav class="navbar-default" id="nav2" >
<ul class="nav navbar-nav">
<li><a href="#">Home</a></li>
<li><a href="#">Medicines</a></li>
</ul>
</nav>
</div>
</div> 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 {% endblock %}