{% extends 'base.html' %}
 {% load static %}
 
 {% block content %}
 
<div class="row" id="about">
<div class="col-md-12" >
<img src="{% static '1503567.jpg' %}"height="350px" width="1350px" />
</div>
</div>


<div class="row" id="site">
<div class="col-md-12">
<h2 align="center">Welcome to Our site</h2><br>
</div>
</div>

<div class="row" id="site1">
<div class="col-md-12" >
<div class="col-md-6">
<div class="zoom">
<img src="{% static 'medtore.jpg' %}"height="400px" width="100%" />
</div>
</div>
<div class="col-md-6">
<div class="zoom">
<img src="{% static 'images.jfif' %}"height="400px" width="100%" />
</div>
</div>
</div>
</div>

<div class="row" id="para">
<p>Bathinda Pharmacy is a fully licensed e-pharma portal(also a offline medical store) that offers authenticated prescription and Over the Counter (OTC) medicine along with other health products. <br>Bathinda Pharmacy is the “first-to-market” to offer a pan-India solution for the quick online purchase and fast delivery of prescription medications and has served more than 5 lakhs customers in punjab and its different towns..<br></p>

<p>The portal offers customers the convenience of ordering health products online via a simple process.<br> A team of qualified pharmacists’ vets the prescription for validity and dosage that assures dispensing only appropriate medication. In Bathinda Pharmacy you can upload thier prescriptions and according to tablet tree provides thier prescribes medicines, more than 1500 trype of subscription tablet tree currently providing.</p>
</div>
 
 <div class="row" id="sites">
<div class="col-md-12">
<h2 align="center">What We Do</h2><br>
</div>
</div>

 <div class="row" id="site2">
<div class="col-md-12" >
<div class="col-md-6">
<img src="{% static 'vitamins-supplements-or-food.jpg' %}"height="400px" width="80%" />
</div>
<div class="col-md-6">
<img src="{% static 'videoimg2.png' %}"height="350px" width="80%" /><br>
<h3 align="center"><b>Bathinda Pharmacy</b></h3>
<h4 align="center">Proving medicines to your Home</h4>
</div>
</div>
</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 {% endblock %}
