{% load staticfiles %}
<html>
<head>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css'  %}" type="text/css" rel="stylesheet" />
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css'  %}" type="text/css" rel="stylesheet" />
<link href="{% static 'bxslider-4-4.2.12/bxslider-4-4.2.12/dist/jquery.bxslider.min.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'bootstrap-3.3.7-dist/jquery.js'  %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bxslider-4-4.2.12/bxslider-4-4.2.12/dist/jquery.bxslider.js' %}"></script>
<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet" />

<title>The Bathinda Pharmacy</title>
<style>
</style>
</head>
<body>
<div class="row" id="header0">
<div class="col-md-10">
<b><marquee behavior="scroll" direction="left">We Care For Your Health</marquee></b>
</div>
</div>

<div class="row" id="header1">
<div class="row">
<div class="col-md-10">
<img src="{% static 'untitled.png'%}" height="140px" width="50%"/>
</div>
</div>
</div>

<div class="row" id="header2">
<div class="col-md-10">
<nav class="navbar-default" id="nav" >
<ul class="nav navbar-nav">
<li><a href="/home/">Home</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/medicine/">Medicines</a></li>
<li><a href="/detail/">Cart </a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/contact/">ContactUs</a></li>
</ul>
</nav>
</div>
</div>

 {% block content %}
  
  {% endblock %}

<div class="row" id ="footer">
<div id="s" class="col-md-4">
<img src="{% static 'untitled.png'%}" height="130px" width="70%"/>
<p class="size">Bathinda Pharmacy is a fully licensed e-pharma portal(also a offline medical store) that offers authenticated prescription and Over the Counter  medicine along with other health products. <br>The portal offers customers the convenience of ordering health products online via a simple process.</p>
</div>
<div id="t" class="col-md-4">
<h3>Contact Info</h3>
</br>
<table class="table" style="color:#FFFFFF;">
<tr>
<td><span class="glyphicon glyphicon-earphone "></span> +91-9876543211</td>
</tr>
<tr>
<td><span class="glyphicon glyphicon-envelope "></span> bathindapharm@gmail.com</td>
</tr>
<tr>
</table>
</div>
<div id="u" class="col-md-4">
<h3>Quick Links </h3>
<ul class="nav"  >

<li><a href="/home/"><span class="glyphicon glyphicon-play"></span> Home</a></li>
<li><a href="/medicine/"><span class="glyphicon glyphicon-play"></span> Medicine</a></li>
<li><a href="/about/"><span class="glyphicon glyphicon-play"></span> About</a></li>
<li><a href="/contact/"><span class="glyphicon glyphicon-play"></span> Contact</a></li>

</ul>
</div>
</div>

<div class="row text-center" id="footer1">
<p><b>&#169;Copyright All rights reserved</b></p>
</div>

<script>
$(document) .ready(function() {
$('.slider') .bxSlider( {
auto: true,
autoControls: true
});
});
</script>
</body>
</html>