{% extends 'base.html' %}
 {% load static %}
 
 {% block content %}

 
<div class="row" id="blo">
<div class="col-md-10 col-md-offset-1">
<div class="col-md-12">
<img src="{% static 'Foods-for-Male-Health.jpg' %}"height="400px" width="100%" />
<h3>Buy medicines online from best online pharmacy at affordable prices</h3>
<p><span class="glyphicon glyphicon-time"><b>March31,2020</b></span>  <span class="glyphicon glyphicon-user"><b>puneet</b></span></p>
<div class="row" id="b">
<p>A set of foods may not be as beneficial for men and women as always. Since both need a different set of nutrients to maintain good health, they must ensure that enough calories are counted each day.
 Medicines for men’s health depend a lot on the food products they take regularly. These are some of the foods that men should add to their diet to maintain a healthy body.</p><br>

<b>Key nutrients that men should take:</b><br><br>
<p>The healthy diet for men should include some key nutrients that include protein, vitamins and minerals. 
As the male body naturally has a higher muscle mass than the female body, they need more calories as always. 
These food products have those nutrients that help men stay healthy and strong.</p><br>

<b>Eggs:</b><br><br>

<p>3-5 servings of eggs in a week are recommended for men. Muscle-building amino acids available in eggs can help men maintain their male.
 In addition, eggs are rich in choline, proteins, vitamins B6 and B5 that help balance hormones in the body.
 Eggs are an excellent part of a strategy to lose weight and medicines for men’s health thanks to their nutrients.</p><br>

<b>Almonds:</b><br><br>

<p>The almonds are loaded with a large amount of healthy and unsaturated fats, fiber, protein and vitamin E.
 These nutrients are excellent for the digestive system, the health of the heart and the skin. Men have to add a few ounces of almonds to the daily diet. 
 It also helps reduce the risk of heart disease and increase metabolic strength.</p><br>

<b>Spinach and green vegetables:</b><br><br>

<p>Green vegetables are highly recommended for men for several reasons. 
With each serving of spinach, take a good amount of fiber, iron, magnesium and other minerals that are vital to the immune system, raising libido and good vision. 
Spinach and other green vegetables such as kale, cabbage, broccoli and Brussels are a good source of folic acid. 
According to researchers at Harvard University, those who take these green vegetables regularly have 30% more folate than those who take only the regular diet. 
Take spinach for better blood flow and a strong sex life.</p><br>

<b>Oats and whole grains:</b><br><br>

<p>Men should not forget to add oatmeal and other whole grains to their diet if they want to flaunt a good physique.
 Oatmeal can raise your energy level, strength and immune power to combat body stress. 
 Only a portion of any whole grain a day can supply enough L-arginine amino acid to improve quality of life.
 Oatmeal has a good amount of soluble fiber and complex carbohydrates that reduce the risk of heart disease. 
 They are also an excellent food for health medications for men that improve blood flow and sexual desire. You can eat multiple whole grains in one serving.</p>

<b>Sweet potato:</b><br><br>

<p>Sweet potatoes are an excellent source of beta-carotene, iron, vitamins A, C and E. 
These nutrients work excellently to improve immune capacity and protect your body against cell damage. 
Those men who do athletic work and have to use their muscles should take at least 3 servings of sweet potatoes each week.</p><br>

<b>Cranberries and other fruits:</b><br><br>

<p>When it comes to selecting a set of fruits for men, berries are a natural part of your diet. 
They can take berries in different forms: raw, mix them in a salad, mix them with cereals or juice.
 In particular, it is known that blueberries have a large amount of vitamins, minerals and fiber, as well as many antioxidants. 
 In addition, some other fruits such as apples, bananas, oranges and guavas have all the necessary ingredients for medicines for men’s health. 
 They help us reduce the signs of aging at their best.</p><br>

<b>Salmon and red meats:</b><br><br>

<p>For non-vegetarians, salmon, heart and red meat are a good diet. 
Salmon supplies omega-3s that help improve the health of the heart and blood circulation in the body.
 Polyunsaturated fatty acids in fish are very necessary for men. 
 Red meats and seafood are rich in zinc, phosphorus and iron that can improve the health of the reproductive system of men.</p><br>

<b>Milk:</b><br><br>

<p>Milk is an inevitable part of the male diet, since its key nutrients can compensate for the loss of vitamins and the counting of calories in the body. 
Strengthens the body’s fat burning system. Milk has an excellent combination of carbohydrates,
 calcium and proteins that make it an excellent food supplement to maintain muscles.</p><br>

<b>Yogurt:</b><br><br>

<p>Yogurt is a strong probiotic food and contains all the nutrients of milk. 
It increases the bacteria that fight germs in the body. It is highly recommended for men who are looking for a product to lose weight. 
Take 4-5 servings of yogurt a week to elevate the metabolic system. Therefore, men should take yogurt to keep them from getting sick </p><br><br>
<a href="/blog/" class="btn btn-default btnwhite">&#8592;</a>
</div>
</div>
</div>
</div>

{% endblock %}